<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="flex-wrapper">
        <div id="first-section">
            <h1>Crie sua conta agora e retome o controle</h1>
            <img src="imagens/undraw_engineering_team_a7n2.svg" alt="">
        </div>
        <div id="second-section">
            <div id="form-div">
                <form action="/login" method="post">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuário" required>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>
                    <input type="submit" value="Entrar">
                </form>
                <p><a href="#">Esqueci minha senha</a></p>
                <p id="signup"><a href="#">Criar uma conta</a></p>
            </div>
        </div>
    </div>
</body>
</html>