:root {
    --primary-color: #161D6F;
    --secondary-color: #98DED9;
    --text-color: #F6F6F6;
    --assets: #C7FFD8;
}

main{
    box-sizing: border-box;
    position: relative;
}

h2 {
    color: var(--primary-color);
}

button.general {
    cursor: pointer;
    background-color: transparent;
    color: var(--assets);
    border: none;
    padding: 0.3rem;
    font-size: 0.8rem;
    border: 1px solid var(--assets);
    border-radius: 0.5rem;
    transition: 200ms;
    font-weight: bold;
    margin: .5rem 0 .5rem;
    width: 7rem;
}

button.general:hover {
    background-color: var(--assets);
    color: var(--primary-color);
}

button.new-task-create {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

button.new-task-create:hover {
    color: var(--assets);
    background-color: var(--primary-color);
}

button.cancelBtn {
    background-color: transparent;
    color: var(--assets);
    border: 1px solid rgb(182, 72, 72);
}

button.cancelBtn:hover {
    color: var(--assets);
    background-color: darkred;
}

div.form-wrapper {
    width: 20rem;
    margin: 0 auto;
}

div.hidden {
    display: none;
}

form label {
    display: block;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

form input, form select, form textarea {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    padding: 0.4rem 0.5rem;
    width: 100%;
}

button.add_step_button {
    padding: .4rem 1rem;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: 200ms;
    margin-bottom: 1rem;
}

button.add_step_button:hover {
    background-color: var(--primary-color);
    color: var(--assets);
}

div#tables-wrapper {
    display: flex;
    gap: 2rem;
    width: 85%;
    margin: 0 auto 7rem;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

div.table-wrapper{
    flex: 0 0 calc((100% - 4rem) / 3);
    border-radius: 0.5rem;
    margin: 0 auto;
}

div.tasks-form, div.update-collab, div.task-update {
    background-color: var(--text-color);
    color: var(--primary-color);
    font-weight: bold;
    width: clamp(18rem, 85%, 35rem);
    padding: 1rem 2rem;
    margin: auto;
    border-radius: .7rem;

}

div.tasks-form h3, div.update-collab h3, div.task-update h3 {
    font-size: 1.5rem;
}

div.tasks-form label, div.update-collab label, div.task-update label {
    margin-bottom: 0.7rem;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

th {
    color: var(--text-color);
    font-size: 1.25rem;
    border-bottom: 1px solid var(--primary-color);
    padding: 0.8rem;
}

table th {
    background-color: var(--primary-color);
}

td {
    padding: 0 .5rem;
    height: 4rem;
}

tr:not(:last-child) td{
    border-bottom: 1px solid var(--primary-color);
}

div.tasks-btns-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task {
    cursor: move;
}

div.tasks-btns-flex p {
    font-size: .9rem;
}

div.update-collab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: var(--assets);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

div.update-collab label {
    color: var(--assets);
}

button.edit-task {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}

button.edit-task img {
    width: 1rem;
}

button.task-details {
    text-align: left;
    border: none;
    background-color: transparent;
    min-width: 10rem;
}

div.task-details, div.task-update {
    background-color: var(--primary-color);
    width: 60rem;
    border-radius: .8rem;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.task-update {
    width: clamp(14rem, 45vh, 25rem);
}

div.task-details th, div.task-update h3, div.task-update label {
    font-size: 1rem;
    color: var(--assets);
}

div.task-details {

    max-width: 90%;
    border: 1px solid #c7ffd87a;
}

div.task-update h3 {
    font-size: 1.5rem;
}

div.task-details th:not(:first-child){
    border-left: 1px solid var(--assets);
}

div.task-details td:not(:first-child) {
    border-left: 1px solid var(--primary-color);
}

div.task-details tr:not(:first-child) {
    background-color: var(--text-color);
    border-radius: .5rem;
}

button.edit-step img {
    width: 1.2rem;
}

button.delete-step-first img {
    width: 1.5rem;
}

button.edit-step, button.delete-step-first { 
    background-color: transparent;
    border: none;
    cursor: pointer;
}
div.step-actions {
    display: flex;
    width: 5rem;
    background-color: var(--assets);
    border-radius: .5rem;
    align-items: center;
    justify-content: space-around;
    margin: .4rem auto;
    padding: .2rem;
}

div.update-step, div.delete-step-confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color);
    padding: 1.25rem 1rem;
    border-radius: .8rem;
    width: 25%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.493);
}

div.delete-step-confirmation p{
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

div.update-step button.update-step-btn, div.update-step button.cancel-step-update {
    width: 5.5rem;
    border-radius: .5rem;
    padding: .2rem .5rem;
    font-size: .8rem;
    cursor: pointer;
}

div.update-step button.update-step-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

div.update-step button.cancel-step-update {
    border: 1px solid darkred;
    color: darkred;
}

div.update-step button.update-step-btn:hover {
    background-color: var(--primary-color);
    color: var(--assets);
}

div.update-step button.cancel-step-update:hover {
    background-color: darkred;
    color: var(--assets);
}

div.update-step label {
    font-size: 1.25rem;
}

button.del-collaborator-btn {
    background-color: transparent;
    border: none;
}

img.delete-trash {
    width: 1.7rem;
  }

@media (min-width: 768px) and (max-width: 1199px) {
    div#tables-wrapper {
        width: 90%;
    }
    div.table-wrapper{
        flex: 0 0 calc((100% - 2rem) / 2);
    }
    div.update-step, div.delete-step-confirmation {
        width: 50%;
    }
}

@media (max-width: 767px) {
    div#tables-wrapper {
        width: 65%;
    }
    div.table-wrapper{
        flex: 0 0 100%;
    }
    div.update-step label {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    div#tables-wrapper {
        width: 95%;
    }

    div.tasks-form {
        width: 16rem;
    }

    div.tasks-form h3, div.task-update h3{
        font-size: 1rem;
        margin-top: 0;
    }

    div.tasks-form label, div.task-update label {
        font-size: 0.75rem;
    }

    div.tasks-form input, div.tasks-form select, div.tasks-form textarea, div.task-update input, div.task-update select, div.task-update textarea {
        padding: .1rem;
    }

    div.task-update {
        width: clamp(10rem, 34vh, 25rem);
    }
    div.update-step, div.delete-step-confirmation {
        width: 80%;
    }
}