:root {
    --primary-color: #161D6F;
    --secondary-color: #98DED9;
    --text-color: #F6F6F6;
    --assets: #C7FFD8;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  text-align: center;
  color: var(--primary-color);
  position: relative;
}

main > h2{
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

div.create-project-form {
    text-align: center;
    padding: 60px 0;
    background: url(../imagens/eden-constantino-OXmym9cuaEY-unsplash.jpg) fixed center / cover no-repeat rgba(0, 0, 0, 0.425);
    background-blend-mode: darken;
    width: 100%;
    font-size: 2.5rem;
    min-height: 20rem;
}

form {
  text-align: left;
  width: 30%;
  padding: 20px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 400ms;
}

.hidden-project-form {
  display: none;
}

label {
  width: clamp(14rem, 35vw, 18rem);
  margin: 1rem 0 1.5rem;
  font-size: 1.5rem;
  color: var(--assets);
}

div.projects-forms h2 {
    font-size: clamp(1rem, 3vh, 2.25rem);
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0;
    color: var(--assets);
}

div.projects-forms {
  border-radius: 20px;
  margin: auto;
  width: 30%;
  background: rgba(22, 29, 111, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(22, 29, 111, 0.62);
  padding: 15px 0;
}

div#add_collaborators {
  margin-bottom: 5rem;
  background-color: var(--primary-color);
}

div.create-project-form input, form.update-project-form input {
    background-color: var(--text-color);
    border: none;
    height: 2.5rem;
    transform: translateY(calc(-50% + 0.8rem));
    border-radius: 10px;
    width: clamp(14rem, 35vw, 18rem);
    margin-bottom: 1.25rem;
}

button:not(.material-symbols-outlined){
  border-radius: 0.8rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: transparent;
  padding: 0.5rem 1.25rem;
  width: 8rem;
  font-size: 1rem;
  transition: 200ms;
}

button.create-project, button.create-project-dropdown, button.edit-project-confirm {
  color: var(--assets);
}

button.create-project:hover, button.create-project-dropdown:hover, button.edit-project-confirm:hover {
  background-color: var(--assets);
  color: var(--primary-color);
}

button.manage-projects {
  color: var(--primary-color);
  width: 11rem;
}

button.manage-projects:hover {
  background-color: var(--primary-color);
  color: var(--assets);
}

.global-carousel-wrapper{
    padding: 15px 0;
    margin:0 auto 5rem;
    width: 72%;
    position: relative;
    transition: 400ms;
}

.carousel-wrapper {
    padding: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
}

.carousel-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.carousel-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.carousel-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item {
    flex: 0 0 calc((100% - 2.1rem) / 3);
    scroll-snap-align: start;
    background-color: var(--text-color);
    margin: auto;
    height: clamp(15rem, 45vh, 40rem);
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    font-size: 0.8rem;
    border: 2px solid transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
}

.carousel-item:hover {
    border: 2px solid var(--primary-color);
}

.card-link > img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.733);
}

.carousel-item a {
  color: var(--primary-color);
}

.carousel-item button{
    padding: 0;
    border-radius: 50%;
    width: clamp(1.75rem, 5vw, 2.25rem);
    height: clamp(1.75rem, 5vw, 2.25rem);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    transform: rotate(-45deg);
    transition: 100ms;
    text-align: center;
    margin: 0;

}

.carousel-item:hover button {
    
    background-color: var(--primary-color);
    color: var(--text-color);

}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 700ms;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.carousel-item:nth-child(2) {
  transition-delay: 200ms;
}

.carousel-item:nth-child(2) {
  transition-delay: 400ms;
}

.prev, .next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
    color: #FFF;
    background-color: var(--primary-color);
    width: 2.5rem;
    height: 2.5rem;
    border: none;
  }
  
.prev {
  left: -3rem;
  transform: rotateY(180deg);
}

.next {
  right: -3rem;
  transform: rotateY(360deg);
}

table, tr, th, td {
  margin: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table {
  margin-bottom: 5rem;
  width: 70%;
}

table.table-wrapper {
  position: relative;
}

th {
  background-color: var(--primary-color);
  color: var(--assets);
}

button.edit-project, button.delete-project {
  width: 6rem;
}

button.edit-project, button.edit-project-confirm{
  background-color: var(--primary-color);
  color: var(--assets);
  margin-bottom: 0.75rem;
}

button.edit-project-confirm {
  margin-bottom: 0;
}

button.edit-project:hover, button.edit-project-confirm:hover {
  background-color: #161d6fd2;
  color: var(--assets);
}

button.delete-project a {
  color: var(--assets);
}

button.delete-project, button.cancel {
  background-color: darkred;
  color: var(--assets);
}

button.delete-project:hover, button.cancel:hover {
  background-color: rgba(139, 0, 0, 0.699);
}

button.cancel, button.edit-project-confirm {
  width: 8rem;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
}

button.cancel {
  margin-right: 10px;
}

table.projects-table {
  margin-top: 30px;
}

.hide-projects-carousel {
  opacity: 0;
  display: none;
}

.hide-projects-table{
  opacity: 0;
  display: none;
  transition: 400ms;
  animation-delay: 400ms;
}

div.edit-project-form {
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-color);
  z-index: 5;
}

div.edit-project-form form {
  width: 80%;
}

form.update-project-form input {
  background-color: #FFF;
  border: 1px solid var(--primary-color);
  height: 2rem;
}

div.edit-project-form h2 {
  color: var(--primary-color);
}

div.edit-project-form label {
  color: var(--primary-color);
  font-weight: 600;
}

div.edit-cancel {
  margin: auto;
  margin-top: 2rem;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

div#add_collaborators {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .carousel-item {
    height: 40vh;
    flex: 0 0 calc(50% - .6rem); /* define a largura de cada item como 50% do carousel-wrapper */
  }
  div.input-project-name, div.edit-project-form {
    width: 50%;
  }

}

@media screen and  (max-width: 820px) {

  div.create-project-form input {
    height: 2rem;
  }

  form label {
    font-size: 1.25rem;
  }
  
}

/* Media query para telas de smartphone (480 x 640) */
@media (max-width: 767px) {
  .carousel-item {
    flex: 0 0 calc(100% - 1rem); /* define a largura de cada item como 100% do carousel-wrapper */
    height: clamp(15rem, 55vh, 30rem);
  }
  div.input-project-name, div.edit-project-form{
    width: 70%;
  }

  table, tr, th, td {
    padding: 2px 2px;
  }
}

@media (max-width: 550px) {
  .carousel-item {
    height: 22rem;
  }
}