:root {
    --primary-color: #161D6F;
    --secondary-color: #98DED9;
    --text-color: #F6F6F6;
    --assets: #C7FFD8;
}

main{
    box-sizing: border-box;
}

h2 {
    color: var(--primary-color);
}

div.form-wrapper {
    width: 20rem;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    padding: 0.4rem 0.5rem;
}

button.add_step_button {
    padding: .4rem 1rem;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: 200ms;
    margin-bottom: 1rem;
}

button.add_step_button:hover {
    background-color: var(--primary-color);
    color: var(--assets);
}

div#tables-wrapper {
    display: flex;
    gap: 2rem;
    width: 80%;
    margin: 0 auto 7rem;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

div.table-wrapper{
    flex: 0 0 calc((100% - 4rem) / 3);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

th {
    color: var(--text-color);
    font-size: 1.25rem;
    border-bottom: 1px solid var(--primary-color);
    padding: 0.8rem;
}

table.to-do th {
    background-color: var(--primary-color);
}

table.in-progress th {
    background-color: rgb(209, 209, 0);
}

table.done th {
    background-color: darkgreen;
}

td {
    padding: 0 .5rem;
    height: 4rem;
}

tr:not(:last-child) td{
    border-bottom: 1px solid var(--primary-color);
}

div.tasks-btns-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.tasks-btns-flex p {
    font-size: .9rem;
}